.footer__column-link {
  margin: 0 0 10px;
  color: white;
  text-decoration: none;
  display: flex;
}

.footer__column-link:nth-of-type(3n) {
  margin: 0;
}

.footer__column-link:hover {
  opacity: 0.7;
  transition: 0.1s;
}
