.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
}

.feynman__link:hover {
  opacity: 0.7;
  transition: 0.1s;
}
